body{
	width: 1000px;
	height: 700px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	background-color: #000000;
	background-image: url(img/img3.png);
	opacity: url("img/img3.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: center;
}


table {
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
	margin: 50 auto;
}


#cm td, #td1 {
	border-radius: 12px;
	width: 70px;
	height: 70px;
	border: 3px solid #000000;
	background-color: #6E6E6E;
	background-image: linear-gradient(to bottom right, #E3E3E3, #000000);
	text-decoration: none;
}

#cm td, #td1:hover {
	background-color: #CE0900;
    background-image: linear-gradient(to right, #FE8200, #CE0900);
}


#cm td, #td1 a{
	text-decoration: none;
	font-size: 30px;
	color: transparent;
} 


#cm td, #td2 {
	border-radius: 12px;
	width: 70px;
	height: 70px;
	border: 3px solid #000000;
	background-color: #D6DBDF;
	font-family: Monospace;
	font-size: 25px; text-align:center;
	text-decoration: none;
}

/*bomba img*/
#cm td, #td1 img {
	width: 65px;
	height: 65px;
}


#botoes li {
    float: left;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}


#botoes li a {
	text-decoration: none;
	text-align: center;
	font-family: Monospace;
	font-size: 20px;
	background-color: #99A3A4;
	background-image: linear-gradient(to bottom right, #99A3A4, #99A3A4);
	color: #000000;
	border: none;
	transition: background-color: 0,5s;
	padding: 15px;
	width: 70px;
	border-radius: 20px;
	display: inline-block;
}


#botoes li a:hover {
	background-color: #660000;
	background-image: linear-gradient(to right, #FE8200, #CE0900);
	color: #ffffff;
	transform: scale(1.3);
}


nav {
    display: flex;
    justify-content: center;
}


#gameover h1 {
	width: 1000px;
    height: 0px;
	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	font-family: monospace;
	font-size: 75px;
	
   -webkit-animation-name: gameover; /* Safari 4.0 - 8.0 */
   -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: gameover;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
  }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes gameover {
    50%  {color: #ffffff;}
    50% {color: ##444748;}
  }

   /* Standard syntax */
   @keyframes gameover {
    50%  {color: #ffffff;}
    50% {color: #444748;}
  }
}
